---
import { Image } from "astro:assets";
import LogoSVG from "../assets/images/logo.svg";
import LogoWin95SVG from "../assets/images/logo-win95.svg"

const MENU = [
    {
        title: "Início",
        link: "/#",
    },
    {
        title: "Projetos",
        link: "/projects",
    },
    {
        title: "Blog",
        link: "/blog",
    },
    {
        title: "Labs",
        link: "/labs",
    },
    {
        title: "Contato",
        link: "/#contact",
    },
];
---

<header
    id="navbar"
    class="navbar default-container-size sticky top-0 flex items-center py-4 z-50 opacity-0"
>
    <a href="/" class="hidden lg:block">
        <Image
            src={LogoSVG}
            class="logo transition-all win95:hidden"
            alt="Logo with my last name"
        />
        <Image
            src={LogoWin95SVG}
            class="logo transition-all win95:block hidden"
            alt="Logo with my last name"
        />
    </a>
    <ul
        class="links ml-auto list-none py-2 px-6 border border-gray-600/50 rounded-full flex gap-4 backdrop-blur-md
             win95:bg-win95-appBackground win95:rounded-none win95:border-win95-appBorder win95:border-3"
    >
        {
            MENU.map((item) => (
                <li>
                    <a
                        class="font-semibold text-sm text-white/80 transition hover:text-purple-500 active:scale-90 drop-shadow-navbar
                             win95:text-black win95:drop-shadow-none win95:hover:underline"
                        href={item.link}
                    >
                        {item.title}
                    </a>
                </li>
            ))
        }
        <li class="hidden xs:block">
            <button
                class="font-semibold text-sm text-white/80 transition hover:text-purple-500 active:scale-90 drop-shadow-navbar
                       win95:text-black win95:drop-shadow-none pixel-font win95:!font-[Nunito] win95:hover:underline"
                id="toggle-theme"
            >
                Tema
            </button>
        </li>
    </ul>
</header>

<!-- <style>
html[data-theme="win95"] .navbar .links {
    @apply bg-gray-200 border border-gray-600;
}
</style> -->

<script>
    document.getElementById("toggle-theme")?.addEventListener("click", async () => {
      const { toggleWin95Theme } = await import("../helpers/theme");
      toggleWin95Theme();
    });
    
    let hasLargeWidth = window.innerWidth > 640;
    let isAtTop = window.scrollY <= 50;
    const navbarElement = document.getElementById("navbar");
    const ulElement = navbarElement?.getElementsByTagName("ul")[0];
    computedHeaderClass();

    window.addEventListener("resize", () => {
        hasLargeWidth = window.innerWidth > 640;

        computedHeaderClass();
    });

    document.addEventListener("scroll", () => {
        isAtTop = window.scrollY <= 50;

        computedHeaderClass();
    });

    if (ulElement) {
        ulElement.style.transitionDuration = "0ms";
        navbarElement.classList.remove("opacity-0");
        navbarElement.classList.add("opacity-100");
    }

    function computedHeaderClass() {
        if (!navbarElement || !ulElement) return;
        const linksWidth = ulElement.offsetWidth ?? 0;

        ulElement!.style.transitionDuration = "300ms";

        if (hasLargeWidth && !isAtTop) {
            navbarElement.classList.add("fixed");
            ulElement.style.marginRight = "unset";
        } else {
            ulElement.style.marginRight = `calc(50% - ${linksWidth / 2}px)`;
            navbarElement.classList.remove("fixed");
        }
    }
</script>

<style>
    .navbar {
        height: var(--navbar-height);
    }

    .navbar * {
        transition-property: background-color, color, border-color, box-shadow, opacity, transform, margin;
        transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
        transition-duration: 300ms;
    }

    .navbar.fixed {
        @apply select-none pointer-events-none;
    }

    .navbar.fixed .logo {
        @apply opacity-0;
    }

    .navbar.fixed .links {
        pointer-events: all;
    }
</style>
